body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: arial;
  font-weight: bold;
}
.title{
  font-size:  30px;
  font-weight: bold;
}
.move-icon{
  height: 45px;
}
.move-button{
  background-color: transparent;
  border: 2px solid white;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.result{
margin-top : 50px;
font-size: 25px;
font-weight: bold;
}
.score{
margin-top: 60px;
}
.reset-button{
background-color: white;
border: none;
padding: 8px 15px;
font-size: 15px;
color: black;
cursor: pointer;

}
